---
const { table } = Astro.params;
import AdminLayout from "../layouts/admin-layout.astro";
import Table from "../components/table";
---

<AdminLayout title="{table} | SonicJs Admin">
  <h1>table: {table}</h1>
  <Table client:load  tableName={table} />
</AdminLayout>
